.Post {
  width: 100%;
  border-radius: 10px;
  margin: 30px 0px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  background-color: #fff;
}
.postWrapper {
  padding: 10px;
}
.posttop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post-top-left {
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: auto;
}
.imgpost {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.username-post {
  font-size: 1rem;
  font-weight: 500;
  margin: 0px 10px;
}
.postDate {
  font-size: small;
}
.postcenter {
  margin: 20px 0px;
}
.postIMg {
  margin-top: 20px;
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}
.postbottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.postleftbottom {
  display: flex;
  align-items: center;
}
.emojiPost {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  cursor: pointer;
}
