.RightBar {
  flex: 3;
  position: sticky;
  height: calc(100vh - 60px);
  top: 60px;
  overflow: auto;
}
.RightBarWrapper {
  padding: 20px 20px 0px 0px;
}
.birthdaycontianer {
  display: flex;
  align-items: center;
}
.bitrthdayImg {
  width: 42px;
  height: 42px;
  margin-right: 10px;
}
.giftText {
  font-weight: 300;
  font-size: 15px;
}
.addImg {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  margin: 10px;
}
.onlinefriends {
  margin: 10px 10px;
}
.rightBarFriendList {
  list-style-type: none;
}
